* {
    margin: 0;
    padding: 0;
    font-family: Noto Sans; 

}

body {
    background-color: #0e0e0e;
    color: #9ba3b4;
    border: border-box;
}
 div {
        display: block;
        unicode-bidi: isolate;
}
.navbar {
    position: fixed;
    top: 0;
    background-color: #0e0e0e;
    height: 58px;
    width: 1349px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.leftnav
{
    display: flex;
    justify-content: center;
    
}
.rightnav{
    display: flex;
    justify-content: flex-end;
    margin-left: 133px;

}
.navlogo {
    height: 58px;
    width: 217.89px;
    padding: 19px 15px 15px 23px;
}

.logo {
    background-image: url(vscolde\ logo.png);
    background-size: cover;
    height: 24px;
    width: 24px;
}
.menu{
    display: flex;
    align-items: center;
}
.vs {
    color: #e9eaeb;
    height: 32px;
    width: 190.89px;
    font-size: 20px;
    margin-left: 125%;
    margin-top: 60%;
}

.navbar ul li{
    list-style: none;
    margin: 0 10px;
}
.navbar ul{
    display: flex;
}
.abc{
    text-decoration: none;
    color: #9ba3b4;
}
.abc:hover{
    color: #dee0e4;
}
img{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.dhurr{
    height: 18px;
    width: 18px;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    left: 8px;
}
.lightmode {
    cursor: pointer;
    background-color: #0e0e0e ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    margin-right: 4px;
    border: none;
}
.lightmode:hover{
    background-color: #202020;
}
.search{
    display: flex;
    margin: 0px 8px 0px 0px;
}
.sear{
    width: 182px;
    height: 32px;
    background-color: #0e0e0e;
    border: none;
}
.sear input{
    background-color: #0e0e0e;
    color: #9ba3b4;
    font-size: 0.8rem;
    margin-top: 0px;
    margin-left: -19px;
    border: 0.2px solid #60646e;
    height: 20px;
    width: 156px;
    border-radius: 3px;
    padding: 5px 9px 7px 34px;
    outline: none;
}
input:focus{
    border-color: #0078d4;
    
}
.download{
    cursor: pointer;
    color: white;
    border:none;
    border-radius: 5px;
    background-color: #0078d4;
    font-size: 1rem;
    height: 32px;
    width: 106px; 
}
button:hover{
    background-color: #0864aa;
}
.uperhead{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 12px;
}
.bigtxt{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.smalltxt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.install{
    display: flex;
    justify-content: center;
    
}
.first{
    height: 415px;
    width: 200px;
}
.windows img{
    height: 130px;
    width: 130px;
}
.windows{
    margin: 40px 35px 15px;
}
.winddiv{
    display: flex;
    justify-content: center;
}
.windbutt{
    cursor: pointer;
    width: 154px;
    height: 70px;
    color: white;
    font-size: 1rem;
    background-color: #0078d4;
    border-radius: 5px;
    border: none;
}
.twindows{
    display: flex;
    justify-content: center;
    font-size: 0.80rem;
    margin-top: 20px;
}
.second{
    height: 415px;
    width:  303px;
    margin: 0 28px;
}
.linux{
    margin: 52px 98px 27px;
}
.linux img{
    height: 105px;
    width: 90px;
}
.linbutt1{
    cursor: pointer;
    width: 135px;
    height: 70px;
    color: white;
    font-size: 1rem;
    background-color: #0078d4;
    border-radius: 5px;
    border: none;
}
.linbutt2{
    cursor: pointer;
    width: 163px;
    height: 70px;
    color: white;
    font-size: 1rem;
    background-color: #0078d4;
    border-radius: 5px;
    border: none;
}
.tlinux{
    display: flex;
    justify-content: center;
    font-size: 0.80rem;
    margin-top: 20px;
}
td {
    text-align: center;
}
.third{
    height: 415px;
    width:  223px;
    margin: 0 13px;
}
.mac{
    margin:37px 37px 20px;
}
.mac img{
    height: 126px;
    width: 126px;
    position: relative;
    left: 10px;
    z-index:-1;
}
.macdiv{
    display: flex;
    justify-content: center;
}
.macbutt{
    background-color: #0078d4;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    height: 70px;
    width: 116px;
}
.tmac{
    display: flex;
    justify-content: center;
    font-size: 0.80rem;
    margin-top: 20px;
}
.lowertxt{
    display: flex;
    justify-content: center;
    font-size:0.82rem;
    margin: 30px;
}
.bottom{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 99px 120px 25px;
}
.version{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 52px;
}
.SHA{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 5px;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 49px;
    height: 25px;
    padding: 105px 120px 0px;
}
.x{
    height: 18.4px;width: 18px;
}
.git{
    height: 25px; width: 24px;
    position:relative;
    right: 28%;
}
.yt{
    height: 25px; width: 24px;
    position: relative;
    right: 56%;
}
.m{
    height: 24px; width: 23px;
    
}
.ul{
    margin: 27px;
    padding: 0px 140px
}
.support{
    text-decoration: none;
    font-size: 0.75rem;
    color: #9ba3b4;
}
.support:hover{
    color: #9ba3b4;
}
.privacy{
    text-decoration: none;
    font-size: 0.75rem;
    color: #9ba3b4;
    position:relative;
    left:2%;
}
.privacy:hover{
    color: #9ba3b4;
}
.term{
    text-decoration: none;
    font-size: 0.75rem;
    color: #9ba3b4;
    position:relative;
    left:4%;
}
.term:hover{
    color: #9ba3b4;
}
.licen{
    text-decoration: none;
    font-size: 0.75rem;
    color: #9ba3b4;
    position:relative;
    left:6%;
}
.licen:hover{
    color: #9ba3b4;
}
a{
    text-decoration: underline ;
    color: #0078d4;
}
a:hover{
    color: #4ca3e6;
}